<%= form_for([:admin, @page]) do |f| %>
	
	<UL>
		<LI>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</LI>
		<LI>
		</LI>
		<fieldset class="advanced">
			<LEGEND><a id="advanced" href="javascript:;">Advanced</a></LEGEND>
		<LI>
			<%= f.label :permalink %>
			<%= f.text_field :permalink %>
		</LI>
		</fieldset>
	</UL>
	<DIV id="submit"><%= f.submit %><a id="closebutton" href="javascript:;">Or cancel</a></DIV>
<% end %>