<%= render 'admin/shared/topribbon' %>

	<DIV class="admin-interface" id="settings">

		<DIV class="box">
				
			<DIV class="inner">
				
				<h1>Edit User</h1>
				
				<% if notice %>
					<P id="notice" style="width:300px;margin:10px auto 20px auto;"> <%= notice %> </p>
				<% end %>

					<%= form_for @user do |f| %>

						<% if @user.errors.any? %>
					    <div class="admin-interface" id="error_explanation">
					      <div id="notice"><strong><%= pluralize(@user.errors.count, "error") %> prohibited this entry from being saved:</strong><BR><BR>

						      <ul>
						      <% @user.errors.full_messages.each do |msg| %>
						        <li><%= msg %></li>
						      <% end %>
						      </ul>
						  </div>
					    </div>
					  <% end %>

						<UL>
							<LI>
								<%= f.label :name %>
								<%= f.text_field :name %>
							</LI>
							<LI>
								<%= f.label :email %>
								<%= f.text_field :email %>
							</LI>
							<LI>
								<%= f.label :password %>
								<%= f.password_field :password %>
							</LI>
							<LI>
								<%= f.label :password_confirmation %>
								<%= f.password_field :password_confirmation %>
							</LI>		
							<LI>
								<%= f.submit "Edit User »" %>
							</LI>
						</UL>

					<% end %>
				</DIV>
			</DIV>
		</DIV>
