
<% # MASSIVE NOTICE. ANY CHANGES IN THIS FILE MUST ALSO BE MADE IN THE admin _PAGE PARTIAL AS WELL %>

<DIV id="page">
	<DIV id="wrapper">

		<h1 id="logo"><%= link_to @page.website.name, admin_dashboard_url %></h1>
		
		<UL id="nav">
			<% @page.website.pages.each do |p| %>
				<% if p.name != 'Home' %>
					<LI><%= link_to p.name, admin_url(p.permalink) %></LI>
				<% end %>
			<% end %>
		</UL>
		
		<DIV id="content">
			<h3><%= @page.name %></h3>
			<% @page.page_elements.each do |e| %>
				
				<DIV class="element">
					<P><%= e.element.content %></P>
			   		<P class="meta"><%= link_to "Edit", admin_page_element_paragraph_url(@page, e.element.id), :class => 'fancybox fancybox.iframe' %> | <%= link_to "Delete", admin_page_element_paragraph_url(@page, e.element.id), method: 'delete', confirm: 'Are you sure you want to delete this?' %></P>
	        	</DIV>
	
			<% end %>

		</DIV>

		<P><BR>Footer<BR></p>
	</DIV>
</DIV>