<!DOCTYPE html>
<html>
<head>
  <title>Admin BrightApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "admin/admin", :media => "all" %>
  <%= template_stylesheet %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://use.typekit.com/mtj3xku.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body>

<%= yield %>

</body>
</html>
